<!DOCTYPE HTML>

<html ng-app="oneGuideApp">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- jquery cdn -->
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

		<!-- bootstrap Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- bootstrap theme theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- bootstrap compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!-- angular cdn-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>

		<!--ui bootstrap angular directives-->
		<script src="ui-bootstrap-tpls-0.12.1.js"></script>

		<script src="basic.js"></script>
		<!-- Angular File for the panel controller module -->
		<script src="panel.js"></script>
		<script src="champion.js"></script>

		<title>oneGuide.lol</title>
	</head>
	<body style="background-color:#222" ng-controller="oneGuideController">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">oneGuide</a>
				</div>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="selectedChamp" 
						typeahead="name for name in champNames | filter:$viewValue | limitTo:8" autocomplete="off" placeholder="champion name">
					</div>
					<button type="submit" class="btn btn-default">submit</button>
				</form>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<div class="row" ng-controller="SkillController as skills">
						<h2 id="championname" style="margin-left: 1%; color:white">{{skills.name}}
							<small id="championdescription" style="margin-left: 1%">the dicklord
							</small>
						</h2>
						<div class="col-sm-4">
							<div class="well">
								<img id="maxfirst" src="#" style="display:inline-block"/>
								<h2 style="display:inline-block">></h2>
								<img id="maxsecond" src="#"style="display:inline-block"/>
								<h2 style="display:inline-block">></h2>
								<img id="maxthird" src="#"style="display:inline-block"/>
								<h2 style="display:inline-block">></h2>
								<img id="maxfourth" src="#"style="display:inline-block"/>
							</div>	
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>	
				<div class="col-sm-2">
					<nav ng-controller="PanelController as panel"> 
						<div class="panel panel-default panel-right"> 
							<div class="panel-heading" style="background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%); color:#9D9D9D; text-shadow:0px -1px 0px rgba(0, 0, 0, 0.25);">
								tracked players
							</div>	
							<div class="panel-body" style="background-color:lightgrey">
								<ul class="nav nav-pills nav-stacked my-players">
									<li role="presentation" ng-click="panel.select('all')" ng-class="{active: panel.isSelected('all')}">
										<a href="#">all</a>
									</li>
									<li role="presentation" ng-repeat="playername in panel.players" ng-click="panel.select(playername)" ng-class="{active: panel.isSelected(playername)}">
										<a href="#">{{playername}}</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>
