<!DOCTYPE HTML>
<html ng-app="mainApp"> 
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- bootstrap theme theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- angular cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>

    <!--ui bootstrap angular directives-->
    <script src="ui-bootstrap-tpls-0.12.1.js"></script>

    <!-- Basic js file -->
    <script src="main.js"></script>
    <script src="carousel.js"></script>
    <script src="search.js"></script>

    <title>oneGuide.lol</title>
  </head>
  <body style="background-color:#222">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid"  ng-controller="SearchController as search">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">oneGuide</a>
	</div>
	<form name="searchForm" class="navbar-form navbar-left" role="search" novalidate>
	  <div class="form-group">
	    <input type="text" class="form-control" ng-model="search.selectedChamp"
		   typeahead="name for name in search.champNames | filter:$viewValue | limitTo:8" autocomplete="off" placeholder="champion name">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="search.loadBuild()" ng-disabled="!search.isValidName()">submit</button>
	</form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
	<div class="col-sm-12" ng-controller="CarController as carousel" >
	  <h2 style="text-align:center; color:white !important; text-shadow:0px -1px 0px rgba(0, 0, 0, 0.25); margin-top:0">
	    Free Champion Rotation</h2>
	  <div style="height:500px; width:85%; margin-left:auto; margin-right:auto;"> 
	    <carousel interval="3000" style="border: 5px solid #3c3c3c" >
	      <slide ng-repeat="champ in carousel.freeChamps" active="slide.active">
		<a href="{{champ.href}}">
		  <img ng-src="{{champ.imgsrc}}" style="margin:auto;">
		</a>
		<div class="carousel-caption">
		  <h4>{{champ.name}}</h4>
		  <p>{{champ.title}}</p>
		</div>
	      </slide>
	    </carousel>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
